NEXT_PUBLIC_SUPABASE_URL=https://dbuamxtgrnpuyyazvsig.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRidWFteHRncm5wdXl5YXp2c2lnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyOTIwODQsImV4cCI6MjA5MTg2ODA4NH0.SSWuJPdH_9Or0RmU8a3stWSkm65ZVLjRrxFvucI5p2c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRidWFteHRncm5wdXl5YXp2c2lnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI5MjA4NCwiZXhwIjoyMDkxODY4MDg0fQ.uqOxwZ2ERc3wIyIqRqOlmfdAh23KN5xAgfqNa3Q1LAE